*{
  margin:0;
  padding: 0;

}
html{  overflow-x:hidden;}
p,a,li{font-family: 'Indie Flower', cursive;}
 h1,h2,h3,h4{
   font-family: 'Indie Flower', cursive;
   color:#990000;
 }
 #logo img{
   margin: 10px 100px;

 }
#container{
width: 100%;
  overflow-x:hidden;
}
#content{

  width: 100%;
  margin: 0 auto;

}
/*slideshow*/
.slideshow,
.slideshow:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.slideshow:after {
    content: '';
    background: transparent url(../img/pattern.png) repeat top left;
}
.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}
.slideshow li div {
    z-index: 1000;
    position: absolute;
   top: 200px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s;
}
.slideshow li div h1{
  font-size: 100px;
   margin: 0px auto 50px;
}
.slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding: 0;
    margin: 0px auto 50px;
    
    }  
.slideshow li div a{
   text-decoration: none;
    }
.button-order{
  padding: 13px 24px 11px;
  border:3px solid #fff;
  font-size:20px;
  color: #fff;
  letter-spacing: 2px;
  line-height: 18px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button-order:hover{
  color : #fff;
  background: #65863A;
  border-color: #65863A;
}
.slideshow li:nth-child(1) span {
    background-image: url(../img/1.jpg)
}
.slideshow li:nth-child(2) span {
    background-image: url(../img/2.jpg);
    animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
    background-image: url(../img/3.jpg);
    animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
    background-image: url(../img/4.jpg);
    animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
    background-image: url(../img/5.jpg);
    animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
    background-image: url(../img/6.jpg);
    animation-delay: 30s;
}

.slideshow li:nth-child(2) div {
    animation-delay: 6s;
}
.slideshow li:nth-child(3) div {
    animation-delay: 12s;
}
.slideshow li:nth-child(4) div {
    animation-delay: 18s;
}
.slideshow li:nth-child(5) div {
    animation-delay: 24s;
}
.slideshow li:nth-child(6) div {
    animation-delay: 30s;
}
@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .slideshow li span{
	opacity: 1;
}

#slide{
  width: 100%;
  height:900px;
/*  background-image: url("../img/4.jpg");
  background-size: 100% 100%;*/
  background-repeat: no-repeat;
}

#slide-down{
  position: absolute;;
  top:60%;
  left: 44%;
  border-radius: 10px;
  background-color: transparent;;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0px);
    }
    30% {
        -webkit-transform: translateY(30px);
    }
    50%{
        -webkit-transform: translateY(0px);
    }
    80% {
        -webkit-transform: translateY(30px);
    }
    100%{
        -webkit-transform: translateY(0px);
    }
}
.bounce,
.bounce img:hover {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration:2s;
}

/*middle*/
#mid-holder{
  width: 100%;

}
#left-holder{
  padding-left: 5%;
  width: 65%;
  float: left;
  margin-right: 5%;

}
#right-holder{
  margin-top: 100px;
  float: right;
  width: 25%;
  background-color: white;
}
.art-rght{
  background-color: white;
  width: 80%;
  margin: 75px auto;
  text-align: center;
  box-shadow: 4px 4px 4px 4px #ccc;
}
.art-rght p{
  margin: 5px auto;
  width: 80%;
  color: #900000;
  font-size: 20px;
  font-weight: bolder;
}
.art-rght ul{}
.art-rght li{
  font-family: 'Sans Serif', cursive;
  text-align: left;
  padding: 5px;
  color:#900000;
}
#btn{
  border-radius: 10px;
  color: white;
  width: 40%;
  margin: 10px auto;
  margin-bottom: 20px;
  background-color: #33cc33;
}
.text-holder{
  margin-top: 50px;
  width: 100%;
  min-height: 300px;
  background: white;
    box-shadow: 5px 5px 2px #ccc;
}
.text-holder h2{
  color:#8f3b19;
  font-size: 40px;
  font-weight: bolder;
}
.text-holder p{
  width: 70%;
  margin: 10px;
  margin-left: 100px;
  font-size: 20px;
  font-weight: bolder;
}
/*footer*/
#certificates{
  width: 100%;
  height: 200px;
  margin-left: 10%;
}
.certificate{
  float: left;
/*  width: 24%;
  height: 100%;*/
  text-align: center;

}
#bottom-nav{
  width: 100%;
  text-align: center;
 /* background-color: rgba(0,0,0, 0.4);*/
}
#bottom-nav ul{
  list-style-type: none;

}
#bottom-nav li{
  display:inline-block;
  margin: 10px;
  padding: 10px;
}
#bottom-nav a:hover{
  color:white;

}
#bottom-nav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/*contact page*/
.cont-hold{
      margin: 50px auto 0px;
      text-align: center;
}
.content-contact{

    margin: 10px auto;
}
.content-contact h2{
    font-size: 60px;

}
.par-contact p{

    font-size: 30px;
}
.cont-hold input{
  width: 50%;
  display: block;
  margin:0 auto 16px;
  border:1px solid #e5e5e5;
  padding: 8px 10px;
  line-height: 1.42;
  border-radius: 3px;
}
.cont-hold textarea{
  width: 50%;
  display: block;
  margin:0 auto 16px;
  border:1px solid #e5e5e5;
  padding: 8px 10px;
  line-height: 1.42;
  border-radius: 3px;
}
.cont-hold button{
  width: 50%;
  display: block;
  margin:0 auto 16px;
  border:1px solid #e5e5e5;
  padding: 8px 10px;
  line-height: 1.42;
  border-radius: 3px;
  background-color: green;
  color: white;
}
.footer-header h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}
.cont-hold h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}