
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}
nav li a{
    color: #900000!important;
    font-size: 25px!important;
    cursor: pointer;
    font-weight: bold;
}
.heading{
    color: #900000!important;
    font-size: 55px!important;
    font-weight: bold;!important;
    cursor: pointer;
}
@media (max-width: 400px){
    .heading{
        font-size: 30px!important;
    }
}
nav li a:hover{
   font-weight: bolder!important;
   text-shadow: 2px 2px #fff;
   text-decoration: underline!important;
}
.fixer{
    background:url(../img/4.jpg) no-repeat 50% 50%;
    display: table;
    width: 105%;
    background-size: cover;
    min-height: 450px;
    }
.order-fix{
    background:url(../img/meso.jpg) no-repeat 50% 50% fixed;
    display: table;
    width: 105%;
    background-size: cover;
    min-height: 450px;
}
.recepies-fix{
    background:url(../img/biftek.jpg) no-repeat 50% 50% fixed;
    display: table;
    width: 105%;
    background-size: cover;
    min-height: 450px;
}
.farms-fix{
    background:url(../img/farms.jpg) no-repeat 50% 25%;
    display: table;
    width: 105%;
    background-size: cover;
    min-height: 450px;
}
.footer-header{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}
.footer-header h1{
    color: white;
}
.footer-header p{
    color: white;
}
.navbar{
   /* background: url(../img/Melamine-wood-001.png) repeat-x 100% 100%;*/
   background-color: rgba(255,255,255,0.3)!important;
    border:none!important;
}
.top-nav-collapse{background-color: rgba(255,255,255,0.9)!important;}
.foot{background-color: #222222}
.cert{text-align: center;}
/*order page*/
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:4px solid #ccc;
  border-radius:55px;
}
label > input:hover + img{ /* (RADIO CHECKED) IMAGE STYLES */
   -ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 1.2);/* Safari */
    transform: scale(1.2, 1.2);
}
.quant{
    margin:50px auto 0px;
}
.quant h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.messagesuc{
    border:1px solid #33ff77;
    border-radius: 10px;
    background-color: #b3ffcc;
    margin:50px 0;
    height: 500px;
    text-align: center;
    display:table;
}
.messagefail{
    border:1px solid #ff1a1a;
    border-radius: 10px;
    background-color: #ff8080;
    margin:50px 0;
    height: 500px;
    text-align: center;
    display:table;
}
.messagesuc h1{
    display:table-cell;
     vertical-align:middle
}
.messagefail h1{
    display:table-cell;
     vertical-align:middle
}
.recepie a{
    /*background:url(../img/recept.jpg) 100% 100%;*/
     cursor: pointer;
    display: block;
}
.rec{
    margin: 30px 20px;
    cursor: pointer;
}
.rec a{text-align: center;text-decoration: none;color: #900000; cursor: pointer;}
.rec-add{
    
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color:#900000;
    cursor: pointer;
   
}
.rec-add a{ text-decoration: none;color:black;}
.admin_row{margin-top:200px; }
.admin_log{box-shadow:3px 3px 3px 3px #888888;border-radius: 10px; }
.admin_log h1{color: #900000;font-size: 50px;font-weight: bolder;}
